.field{
    padding: 5px 20px 5px 155px!important;
    margin: 9px 0;
}

.radio-item_lb{
    margin: 0 0 0 20px !important;
}
.radio-item_input{
    margin: 0 0 0 -170px !important;
}

._yith-setting-option{
    align-items: center;
    display:flex;
}
._yith-setting-option label{
   margin: 0px 10px 0px 0px;
}

._yith-pp-bdg-pos{
    margin: 0 0 0 -210px !important;
}
.null-table{
  padding: 0 0 0 5px !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    left: 150px;
    width: 60px !important;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -9px;
    bottom: 2px;
    width: 20px;
    height: 20px;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    width: 41px;
    height: 23px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    left: 3px;
    bottom: 2px;
    width: 20px;
    height: 20px;
  }