._yith-pp-badge-shop {
    position:absolute;
    z-index: 10;
    margin: 5px;
    font-weight: bold;
    padding: 3px 5px;
    top: 0;
    right:0;
	left: auto;
    border-radius: 4px;
}

._yith-pp-badge-prod {
    position:absolute;
    z-index: 10;
    margin: 5px;
    font-weight: bold;
    padding: 3px 5px;
    top: 0;
    right:0;
	left: auto;
    border-radius: 4px;
}
._yith-cont-note-prod {
    margin:30px 0px;
}

._yith-cont-note-prod label{
    font-weight: bold;
}
._yith-cont-note-prod #desc{
    display: block;
    margin: 10px 0px;
}
._yith-cont-note-prod .field{
    padding: 0px;
    margin: 0px;
}

#_yith-pp-cont-note-price{
    color: #6a938f;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

#_yith-pp-cont-note-about-price{
    color: #6a938f;
    font-size: 15px;
}

#_yith-pp-note{
    width:100%;
}